@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

// Font Family
$theme-text-font: "Kumbh Sans", sans-serif;

// Primary colors
$theme-background-color: hsl(185, 75%, 39%);
$theme-dark-blue-color: hsl(229, 23%, 23%);
$theme-dark-grayish-blue-color: hsl(227, 10%, 46%);

// Neutral colors
$theme-gray-color: hsl(0, 0%, 59%);
$theme-white-color: hsl(0, 0%, 100%);
$theme-dark-color: hsl(0, 0%, 0%);

// Font Size
$theme-line-height: 1rem;

// Transition
$theme-transition: all 0.2s ease-in-out;

// Breakpoints
$screen-sm: 576px; // Large smartphones
$screen-md: 768px; // Small tablets
$screen-lg: 992px; // Tablets
$screen-xl: 1200px; // Desktops
$screen-xxl: 1440px; // Large desktops
$screen-rwd: 1500px; // Custom device

// Border shadow
$theme-box-shadow: 0 0.063rem 0.188rem rgba($theme-dark-blue-color, 0.12),
    0 0.063rem 0.125rem rgba($theme-dark-blue-color, 0.24);
$theme-box-shadow-hover: 0 0.875rem 1.75rem rgba($theme-dark-blue-color, 0.25), 
    0 0.625rem 0.625rem rgba($theme-dark-blue-color, 0.22);